# OS specifics
.DS_Store

# Datas
datas
!datas/.gitkeep


# Logs
logs
!logs/.gitkeep

# Outputs
outputs
!outputs/.gitkeep
outputs/data_processed
!outputs/data_processed/.gitkeep
outputs/plots
!outputs/plots/.gitkeep

# Python cache
__pycache__

# Python environment
.python-version

# MLflow
mlruns
mlflow.db