pipeline:
  data_processing:
    - step: DataLoader
      params:
        files_to_load:
          maths: "datas/student-mat.csv"
          por: "datas/student-por.csv"
        sep: ";" # Correction du séparateur ici

    - step: SensitiveDataHandler
      params:
        sensitive_columns: ["romantic", "Dalc", "Walc"]

    - step: MergerHandler

    - step: MinimizerHandler
      params:
        mapping:
          Mjob: {"health": "other", "at_home": "other"}
          Fjob: {"health": "other", "at_home": "other"}

    - step: AnonymizerHandler
      params:
        binning_rules:
          age_limit: 19
          mask_school: true

    - step: EncodingHandler # Préparation finale pour le Random Forest

    - step: OutlierHandler
      strategy: IsolationForestStrategy
      params:
        contamination: 0.01
        target_columns: ["studytime", "absences", "age"]

    - step: ImputationHandler
      strategy: AIImputationStrategy
      params:
        max_iter: 10

    - step: ComplianceAuditHandler
      params:
        output_dir: "outputs"
        
    - step: DataExportHandler

  learning:
    strategies:
      - LogisticRegressionStrategy
      - RandomForestStrategy
    # Optuna params suggestions
    params:
          rf_params:
            n_estimators: 200
            max_depth: 8
            min_samples_leaf: 20
            min_samples_split: 40 
            max_features: "sqrt" 
            class_weight: "balanced"
            bootstrap: true 
            oob_score: true 
            random_state: 42
          lr_params:
            C: 1.0
            solver: "lbfgs"
    scenarii:
      - label: "Full_Features"
        exclusions: []
      - label: "No_Sensitive"
        exclusions: ["romantic", "Dalc", "Walc"]
      - label: "No_G1_G2"
        exclusions: ["G1", "G2"]