# --- Core Data & ML ---
pandas
scikit-learn
mlflow
loguru

# --- Viz (Used in Learn Strategies) ---
matplotlib
seaborn

# --- Backend API ---
fastapi
uvicorn
pydantic
joblib

# --- Frontend UI ---
streamlit
requests

# --- Testing ---
pytest
httpx

# --- Monitoring ---
prometheus-fastapi-instrumentator
prometheus-client